packages:
  pip:
  - 'dlib'
  - 'Pillow'
  - 'face_recognition'
  - 'numpy'

msg_broker:
  supported_mime:
  - 'image/jpeg'
  - 'image/png'
  - 'image/gif'

api:
  blueprints_directory: 'blueprints'

custom:
  min_width: 100
  min_height: 100
